<div class="about-us-container">
   
    <section class="about-us">
        <h1>About Us</h1>
        <h2>OUR STORY - FROM THE START</h2>  
        <div class="about-content">
          <div class="about-image">
            <img class=".about-image img" src="assets/abt.jpg" style="height: 800px;">

          </div>
          <div class="about-text">
            <p>Want to share your story? We would love to read it. This is where you can tell the world about you, who you are, what you do, what inspired you to do this, your achievements, and more. People often trust organizations they know in and out.</p>
            <h3>An Attractive Subheading to Continue</h3>
            <p>This is where you can write about your founders, the year you set up the business, and how you managed to bring it up all this time. You special moments and achievements can be listed along with the list of services.</p>
            <p>Make sure you flaunt your strengths and qualities in enticing words attracting visitors to read. Tell them all they ought to know and make sure they are impressed by every word you write about yourself. Take this as a final opportunity to encourage them to scroll further in order to know you more. Use simple, yet attractive words.</p>
          </div>
        </div>
      </section>
  </div>
  